Repository zalando-incubator/kubernetes-on-aws, pull requests merged in 2019-07, with the labels that each got.

#2268 Kubelet QPS postmortem
  docs/postmortems/images/jun-2019-kubelet-qps/build-errors.png
  docs/postmortems/index.rst
  docs/postmortems/jun-2019-kubelet-qps.md
Labels: docs

#2331 Allow to specify per-pod pid limit
  cluster/config-defaults.yaml
  cluster/node-pools/master-default/userdata.clc.yaml
  cluster/node-pools/master-ubuntu-default/userdata.yaml
  cluster/node-pools/worker-default/userdata.clc.yaml
  cluster/node-pools/worker-ubuntu-default/userdata.yaml
Labels: updates/defaults, updates/master-nodes, updates/worker-nodes

#2384 Dev to kube 1.14
  .gitignore
  cluster/config-defaults.yaml
  cluster/manifests/admission-control/teapot.yaml
  cluster/manifests/infrastructure-configs/configmap.yaml
  cluster/manifests/zmon-worker/deployment.yaml
  cluster/node-pools/master-default/userdata.clc.yaml
  cluster/node-pools/master-ubuntu-default/userdata.yaml
  test/e2e/README.md
  test/e2e/admission_controller.go
  test/e2e/authorisation_test.go
  test/e2e/cluster_config.sh
  test/e2e/e2e_test.go
  test/e2e/egress.go
  test/e2e/go.mod
  test/e2e/go.sum
  test/e2e/run_e2e.sh
  test/e2e/setup_modules.sh
  test/e2e/util.go
Labels: frozen
